@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    @apply bg-purple-700;
  }
  .bg-secondary {
    @apply bg-[#090E34];
  }

  .bg-primary-hover {
    @apply bg-purple-600;
  }
  .bg-dark-hover {
    @apply bg-neutral-900;
  }
  .bg-white-hover {
    @apply bg-neutral-200;
  }

  .text-primary {
    @apply text-purple-700;
  }
  .text-primary-dark {
    @apply text-purple-400;
  }

  .text-dark-hover {
    @apply text-neutral-900;
  }
  .text-white-hover {
    @apply text-neutral-200;
  }

  .ring-primary {
    @apply ring-purple-700;
  }
  .border-primary {
    @apply border-purple-700;
  }
  .placeholder-none::placeholder {
    text-transform: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-400;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gray-600;
  }
  ::-webkit-scrollbar {
    @apply w-2 rounded-md bg-gray-500;
  }

  @keyframes enter_animation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes leave_animation {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  .animate-enter {
    animation: enter_animation 0.5s ease-out both;
  }

  .animate-leave {
    animation: leave_animation 0.5s ease-in both;
  }

  .loader {
    width: 64px;
    aspect-ratio: 1;
    background: radial-gradient(
        farthest-side at bottom right,
        #f10c49 90%,
        #0000
      ),
      radial-gradient(farthest-side at bottom left, #f10c49 90%, #0000),
      radial-gradient(farthest-side at top right, #f10c49 90%, #0000),
      radial-gradient(farthest-side at top left, #f10c49 90%, #0000),
      radial-gradient(farthest-side at bottom right, #f4dd51 90%, #0000),
      radial-gradient(farthest-side at bottom left, #f4dd51 90%, #0000),
      radial-gradient(farthest-side at top right, #f4dd51 90%, #0000),
      radial-gradient(farthest-side at top left, #f4dd51 90%, #0000),
      radial-gradient(farthest-side at bottom right, #e3aad6 90%, #0000),
      radial-gradient(farthest-side at bottom left, #e3aad6 90%, #0000),
      radial-gradient(farthest-side at top right, #e3aad6 90%, #0000),
      radial-gradient(farthest-side at top left, #e3aad6 90%, #0000);
    background-size: 25% 25%;
    background-repeat: no-repeat;
    animation: l16 2s infinite;
  }

  @keyframes l16 {
    0% {
      background-position: calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3);
    }
    16.67% {
      background-position: calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3);
    }
    33.33% {
      background-position: calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3);
    }
    50% {
      background-position: calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3);
    }
    66.67% {
      background-position: calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3);
    }
    83.33% {
      background-position: calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(0 * 100% / 3) calc(0 * 100% / 3),
        calc(3 * 100% / 3) calc(0 * 100% / 3),
        calc(0 * 100% / 3) calc(3 * 100% / 3),
        calc(3 * 100% / 3) calc(3 * 100% / 3);
    }
    100% {
      background-position: calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3),
        calc(1 * 100% / 3) calc(1 * 100% / 3),
        calc(2 * 100% / 3) calc(1 * 100% / 3),
        calc(1 * 100% / 3) calc(2 * 100% / 3),
        calc(2 * 100% / 3) calc(2 * 100% / 3);
    }
  }
}
